<!-- 
  
  INSTRUCTIONS FOR MODIFYING PAGES_SHOW_BASIC.HTML
  ================================================
  
  There is one location in the pages_show_basic.html template file that need to be modified:
  
  1. After the <div id="intro"> tag inside the main content area (to include a loop of subpages if the layout-scrolling tag is detected)

-->

<!--
  STEP 1: AFTER <div id="intro">
  ===========================
  
  Right below where you see 
  
  <div id="intro" class="intro">
    <div class="text-content">
      {{ page.basic.content }}
    </div>
  </div>
  
  add the code below:
  
-->

{% assign tags_list = "" %}
{% for tag in page.tags %}
  {% assign tags_list = tag.name | downcase | remove: ":" | remove: "-" | replace: " ","-" | append: " " | append: tags_list %}
{% endfor %}
  
{% if tags_list contains "layout-landing" and page.has_children? %}
  {% include "subpages_as_landing_page" with page %}
{% endif %}
